/include/ "system-conf.dtsi"
/ {
    usb_0: usb@e0002000 {
        compatible = "xlnx,zynq-usb-2.20.a", "chipidea,usb2";
        clocks = <&clkc 28>;
        dr_mode = "otg";
        interrupt-parent = <&intc>;
        interrupts = <0 21 4>;
        reg = <0xe0002000 0x1000>;
        usb-phy = <&usb_phy0>;
    };
 
    usb_phy0: phy0 {
        compatible = "ulpi-phy";
        #phy-cells = <0>;
        reg = <0xe0002000 0x1000>;
        view-port = <0x170>;
        drv-vbus;
    };
};
